.ActionRow {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
}

.ActionRow button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
