.FormatModal .Title{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 4px 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: black;
}

.FormatModal .Title h2{
  color: inherit;
  margin: 0px;
  padding: 0px;
}

.FormatModal .Content{
  padding: 16px;
  margin: auto;
  color: #1b1b1c;
  font-size: 0.75em;
}