.Toaster {
  /* width: 200px; */
  height: auto;
  padding: 2px 10px;
  box-sizing: border-box;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #cccccc;
  box-shadow: 2px 2px 2px #cccccc;
  border-radius: 4px;
  z-index: 999999;
  background-color: #fcfcfc;
  /* opacity: 0.8; */
  min-width: 50vw;
}

/* .Toaster .Text {
  width: 180px;
} */

.Toaster.Focused {
  opacity: 1;
}

.Toaster button.CloseIcon {
  border-radius: 50%;
  background-color: #707070;
  border: 2px solid #cccccc;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 2px 2px 4px #707070;
  outline: none;
}

.Toaster button.Close {
  padding: 6px 10px;
  font-size: 1em;
  font-family: "Kanit", "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #0fc6a7;
  border: 2px solid #0fc6a7;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #009297;
  cursor: pointer;
  color: white;
}

.Toaster button.Close:active {
  box-shadow: none;
}

.Toaster button.Close:disabled {
  box-shadow: none;
  color: #dddddd;
  cursor: not-allowed;
}
