.Toolbar{
  height: 10vh;
  width: 100%;
  position: fixed; 
  /* always at the top even if you scroll */
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-right: 0px;
  box-sizing: border-box;
  /* (to make sure that the toolbar is sized correctly even with the padding) */
  z-index: 90;
  /* has to be lower than backdrop */
}


.Toolbar nav {
  height: 100%;
  align-items: center;
}

.Toolbar>button{
  background-color: #ffffff;
  padding: 8px;
  height: 80%;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  color: white;
}

@media (max-width: 499px){
    .Toolbar nav {
    display: none;
  }
}

@media (min-width: 500px){
  .Toolbar button{
    display: none;
  }
}

@media (max-height: 550px) {
  .Toolbar{
    height: 55px;
  }
}

/* flex box:  
all the items in the toolbar are aligned next to each other
 because the default direction of flex box is row positioning elements next to each other even if they are block elements */


 /* justify-content: which defines how the elements which are wrapped by the toolbar class item here, should be spread out, space-between means the available space is filled with the elements inside this toolbar element in the end and they automatically keep some distance from each other
  */

  /* align-items decides how they should be aligned vertically, and there we usually pick center */