.Dialog {
    /*position: fixed;
    z-index: 500;
    width: 99%;
    left: 15%;
    top: 5%;
padding: 4px;
    
    */
    background-color: white;
    border: 0px solid #ccc;
    box-shadow: 1px 1px 1px black;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    width: "95%";
    /*
    left: "2.5%"; 
    top: "1%"; 
    */
    min-height: "98.5vh";
  }