.SocialAuth {
  width: 500px;
  padding: 30px;
  box-sizing: border-box;
}

.SocialAuth button{
  font-size: 1em;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.SocialAuth button.Twitter {
  margin-top: 47px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1da1f2;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  width: 282px;
}

.SocialAuth button.Google {
  margin-top: 47px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4285f4;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  width: 282px;
}

.SocialAuth button.Facebook {
  margin-top: 27px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3b5998;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  width: 282px;
  /* white-space: pre; */
}

button span {
  float: left;
  width: 20px;
  height: 20px;
  display: flex;
  background-color: #fff;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

button.Facebook span{
  color: #3b5998;  
}

button.Twitter span{
  color: #1da1f2;
}

button.Google span{
  color: #4285F4;
}