.BottomSection {
  position: absolute;
  height: 55px;
  bottom: -55px;
  width:100%;
  left: 0px;
  padding: 0px 0px;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
}

.BottomSection .BottomCell {
  height: 100%;
  /* border: 1px solid #aaaaaa; */
  border-bottom: 5px solid;
  border-top: 5px solid;
  box-shadow: 1px 1px 2px #aaaaaa;
  box-sizing: border-box;
  margin-right:15px;
  margin-left:15px;
  /*
  margin-right: 0px;
  min-width: 140px;
  */
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1em; */
  font-weight: 500;
  position: relative;
  white-space: pre;
}
