.TopSection{
  position: absolute;
  height: 100px;
  top: -100px;
  padding: 0px 0px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.TopSection>div:last-child {
  margin-left: auto;
}

.TopSection .TopCell{
  height: 100%;
  border: 1px solid #aaaaaa;
  padding-top: 10px;
  border-top: 5px solid;
  box-shadow: 1px 1px 2px #aaaaaa;
  box-sizing: border-box;
  margin-right: 13px;
  margin-left: 1px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  /* font-size: 1em; */
  font-weight: 500;
  background-color: #86dde0;
}