.Button {
  margin: auto;
  padding: 10px;
  font-size: 1em;
  font-family: "Montserrat", "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #0fc6a7;
  border: 2px solid #0fc6a7;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #009297;
  cursor: pointer;
  color: white;
  width: 282px;
}

.Button:active {
  box-shadow: none;
}

.Button:disabled {
  box-shadow: none;
  color: #dddddd;
  cursor: not-allowed;
}
