td,
th {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
  width: 220px;
  text-align: left;
  padding-left: 20px;
}

thead th {
  border-bottom: 1px solid #111;
}

.LastRow td, .LastRow th {
  border-top: 2px solid #111;
}

.Table {
  width: 100%;
  margin: auto;
  background-color: #e0f1f5;
  border-collapse: collapse;
}

.Table th {
  font-size: 1em;
  font-weight: 400;
}

.Table td > .Cell.Flex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.Table td > .Cell {
  /* font-size: 0.9em; */
  font-weight: 500;
}

.Cell > p {
  width: 190px;
  margin: 0px 0px;
  /* font-size: 0.9em; */
  font-weight: 400;
}

.Cell > p > span {
  margin: 0px 5px;
}

.Cell > img {
  margin: 6px;
}

.Cell > p > img {
  margin-right: 10px;
}
