.Panel {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
  padding-top: 0px;
  /* border: 1px solid #aaaaaa; */
  border-radius: 1px;
  margin-left: 5px;
  position: relative;
  margin-left: 120px;
  /* margin-top: 15%; */
  font-size: 0.8em;
  box-shadow: 1px 1px 2px #aaaaaa;
  background-color: #86dde0;
    /*  z-index: 0; */
  }

.Panel .Column {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
    /*  z-index: 0; */

}

.Panel .Strip {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: blueviolet;
  left: -50px;
  top: 0px;
    /*  z-index: 0; */

}

@media screen and (max-width: 1100px) and (max-height: 800px) {
  .Panel{
    transform: scale(0.6);
    margin-left: 5px;
    /*  z-index: 0; */
  }
}
