.ChipsPanel{
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
  height: 100%;
}

.ChipsPanel>.Left{
  height: 100%;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
}

.ChipsPanel>.Right{
  height: 100%;
  display: flex;
}

.ChipContainer{
  margin-left: 10px;
  width: 48px;
  height: 48px;
  border: 6px solid #ffffff;
  border-radius: 48px;
  box-sizing: border-box;
  background-image: linear-gradient(#ffffff, #aaaaaa);
  opacity: 0.3;
}