.ChipsPanel {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  margin-left:50%;
  margin-top: -60px;
  height: 60px;
  width: 50%;
  z-index: 5;
  position: absolute; 
}

.ChipsPanel > .Left {
  height: 100%;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ChipsPanel > .Left > p {
  font-size: 2em;
  font-weight: 400;
}

.ChipsPanel > .Right {
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.ChipContainer {
  /* margin-left: 10px; */
  /* width: 48px;
  height: 48px;
  border: 6px solid #ffffff;
  box-sizing: border-box;
  background-image: linear-gradient(#ffffff, #aaaaaa);
  opacity: 0.3; */
  /* Style for "Base" */
  width: 48px;
  height: 48px;
  border-radius: 48px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 1px 3px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* background-color: #000000; */
  background-color: transparent;
}
