.ChipsPanel{
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
  height: 100%;
}

.ChipsPanel>.Left{
  height: 100%;
}

.ChipsPanel>.Right{
  height: 100%;
  display: flex;
}